html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url("https://images5.alphacoders.com/116/1160737.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.inazuma-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: all 0.3s ease;
    width: auto;
    height: auto;
}

#raiden {
    background-color: rgba(148, 93, 196, 0.8);
    grid-column: 1 / 3;
    grid-row: 1;
}

#ayaka {
    background-color: rgba(70, 130, 180, 0.8);
}

#itto {
    background-color: rgba(222, 189, 108, 0.8);
}

#sayu {
    background-color: rgba(53, 150, 151, 0.8);
    grid-column: 2 / 4;
    grid-row: 2;
}

#yoimiya {
    background-color: rgba(236, 73, 35, 0.8);
    grid-column: 4;
    grid-row: 1 / 3;
}

.details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.details img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.name-race {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.race {
    font-size: 14px;
}

.desc {
    grid-column: 1 / -1;
}

@media (max-width: 1000px) {
    .inazuma-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    #raiden {
        grid-column: 1;
        grid-row: 1;
    }

    #ayaka {
        grid-column: 2;
        grid-row: 1;
    }

    #itto {
        grid-column: 1;
        grid-row: 2;
    }

    #sayu {
        grid-column: 2;
        grid-row: 2;
    }

    #yoimiya {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .yoimiya-details {
        flex-direction: row;
        justify-content: center;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
    }

    .details img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
    .inazuma-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    #raiden {
        grid-column: 1;
        grid-row: 1;
    }

    #ayaka {
        grid-column: 1;
        grid-row: 2;
    }

    #itto {
        grid-column: 1;
        grid-row: 3;
    }

    #sayu {
        grid-column: 1;
        grid-row: 4;
    }

    #yoimiya {
        grid-column: 1;
        grid-row: 5;
    }

    .details {
        flex-direction: row;
        align-items: center;
    }

    .details img {
        margin-right: 10px;
        margin-bottom: 0;
    }
}
