body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: 'background.jpg';
    padding: 20px;
}

.pokemon-card {
    margin: 10px;
    width: 20%;
    flex-grow: 1;
    padding: 20px;
    transition: background-image 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.pokemon-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#ball {
    display: none;
}

.pokemon-card:hover img {
    transform: scale(1.1);
}

h1 {
    display: none;
}

.pokemon-type {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

@media (max-width: 720px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .pokemon-card {
        width: 100%;
        justify-content: space-between;
        display: flex;
        transition: background-image 0.3s ease, transform 0.3s ease;
    }

    .pokemon-card img {
        width: 20%;
        align-items: start;
        transition: transform 0.3s ease;
    }

    h1 {
        display: block;
        align-items: center;
    }

    #ball {
        display: block;
    }

    .pokemon-card:hover {
        background-image: url('https://www.hdwallpapers.net/previews/pokeball-1032.jpg');
        background-size: cover;
        align-items: center;
    }
}

@media (max-width: 510px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75vw;
    }

    .pokemon-card {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        display: flex;
        transition: background-image 0.3s ease, transform 0.3s ease;
    }

    .pokemon-card img {
        width: 40%;
        align-items: center;
        transition: transform 0.3s ease;
    }

    h1 {
        display: block;
        align-items: center;
    }

    #ball {
        display: none;
    }

    .pokemon-card:hover {
        background-image: 'pokeball.png';
        align-items: center;
    }
}

#box1 {
    background-color: #4ec87c;
}

#box2 {
    background-color: #e46214;
}

#box3 {
    background-color: #3291d5;
}

#box4 {
    background-color: #c18440;
}

#box5 {
    background-color: #e87ebd;
}

#box6 {
    background-color: #e0c092;
}

#box7 {
    background-color: #fbb217;
}

#box8 {
    background-color: #8d45df;
}

#box9 {
    background-color: #205a9d;
}

#box10 {
    background-color: #77d3e0;
}

#box11 {
    background-color: #dcd3b2;
}

#box12 {
    background-color: #e6b5a7;
}

#box1 .pokemon-type {
    background-color: #78C850;
}

#box2 .pokemon-type {
    background-color: #F08030;
}

#box3 .pokemon-type {
    background-color: #7038F8;
}

#box4 .pokemon-type {
    background-color: #A8A878;
}

#box5 .pokemon-type {
    background-color: #A890F0;
}

#box6 .pokemon-type {
    background-color: #C03028;
}

#box7 .pokemon-type {
    background-color: #F8D030;
}

#box8 .pokemon-type {
    background-color: #F85888;
}

#box9 .pokemon-type {
    background-color: #A8A878;
}

#box10 .pokemon-type {
    background-color: #6890F0;
}

#box11 .pokemon-type {
    background-color: #6890F0; 
}

#box12 .pokemon-type {
    background-color: #F85888;
}

